<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011657390300-8cs9fqghptanq5m15c36aul6iss3t5fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011657390300-8cs9fqghptanq5m15c36aul6iss3t5fn</string>
	<key>API_KEY</key>
	<string>AIzaSyAGvCobp86lpdbVNVxUY00jPFT82QkYFCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1011657390300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.Doganresim</string>
	<key>PROJECT_ID</key>
	<string>doganresim-1f152</string>
	<key>STORAGE_BUCKET</key>
	<string>doganresim-1f152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011657390300:ios:cfcaa11a996f91c63c5c19</string>
</dict>
</plist>